<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>编辑器</title>
        {% include 'public_css.html' %}
    </head>
    <body>
    
    {% for obj in lists %}
    <div class="panel panel-warning">
        <div class="panel-heading">
        <a href="/deleteMessageContent?id={{ obj.id }}&mid={{ obj.mid }}">删除</a>
        
        <a href="/editMessageContent?id={{ obj.id }}&mid={{ obj.mid }}">编辑</a>
        </div>
        <div class="panel-body">
        {{ obj.content }}
        </div>
    </div>
    {% endfor %}
    
    <hr>
    <div class="panel panel-info">
        <div class="panel-heading">
        编辑器（请在下面填写代码,右边是实时窗口）
        </div>
        <div class="panel-body">
            <form action="/addMessageContent" method="post">
            <input type="hidden" name="id" value="{{ id }}">
            <textArea name="content"  style="width:50%;height:500px;font-size:20px;" id="content"></textArea>
            <div id="showCodeDiv" style="width:48%;float:right;height:500px;border:1px solid skyblue;"></div>
            <br>
            <p align="center">
                <input type="submit" class="btn btn-default">
            </p>
            </form>
        </div>
    </div>
    
    {% include 'public_js.html' %}
    <script src="/static/edit.js"></script>
    </body>
</html>
