<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
        <title>{{ obj.title }}</title>
        <link rel="stylesheet" href="/static/swiper.min.css">
        <link rel="stylesheet" href="/static/message.css?t=1">
    </head>
<body>
 
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for t in lists %}
            <div class="swiper-slide">
                {{ t.content|safe }}
            </div>
            {% endfor %}
        </div>
 
        <div class="swiper-pagination"></div>
    </div>
 
    <span class="up-slide" id="up-slide" style="opacity:100;"></span>

    <script src="/static/swiper.min.js"></script>
    <script src="/static/message.js?t=1"></script> 
</body>
</html>
