<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ obj.title }}</title>
        <link rel="stylesheet" href="/static/swiper.min.css">
        <link rel="stylesheet" href="/static/message.css">
    </head>
<body>
 
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for t in lists %}
            <div class="swiper-slide">
                {{ t.content }}
            </div>
            {% endfor %}
        </div>
 
        <div class="swiper-pagination"></div>
    </div>
 
    <span class="up-slide" id="up-slide" style="opacity:100;"></span>

    <script src="/static/swiper.min.js"></script>
    <script src="/static/message.js"></script> 
</body>
</html>
